<form class="flex justify-center mt-20" (ngSubmit)="submitLogin($event)">
  <div class="w-11/12 flex justify-center bg-white shadow-xl rounded">
    <div class="w-5/6">
      <label class="mt-5 block text-gray-700 text-sm font-bold mb-2" for="email">
        メールアドレス
      </label>
      <input [(ngModel)]="account.email" class="w-full shadow border rounded py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
        id="email" type="text" placeholder="メールアドレス" name="inpuEmail" required
        autocomplete="username email" autofocus>

      <label class="mt-5 block text-gray-700 text-sm font-bold mb-2" for="username">
        パスワード
      </label>
      <input [(ngModel)]="account.password" class="w-full shadow border rounded py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
        id="username" type="password" placeholder="********" name="inputPassword" required
        autocomplete="new-password">

      <div class="flex justify-center mt-16 mb-6">
        <button type="submit" class="rounded bg-blue-500 text-white py-2 px-4 hover:bg-blue-700 focus:bg-blue-600 focus:outline-none">ログイン！</button>
      </div>
    </div>

  </div>
</form>
